<h1>Seja bem vindo</h1>

<p> <%= link_to 'Pt-BR', root_path(locale: 'pt-BR')%> </p>
<p> <%= link_to 'English', root_path(locale: 'en')%> </p>

<p>O idioma utilizado nessa aplicação é: <%= t('actual_locale') %>  </p>

<p>Data: <%= l(Date.today)%> </p>

<p> <%= I18n.t('hello') %> </p>

<%= render 'menu'%>

<p>
    Vocẽ esta no ambiente de <strong> <%= ambiente_rails%> </strong>
</p>

<p>Eu sou uma variavel de instancias <%= @meu_nome %>, tenho <%= @idade %> anos, e faço o curso de <%= @curso %>! </p>
