<!DOCTYPE html>
<html>
  <head>
    <title>CrypoWallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag  params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <h3>Cabeçalho Padrão <%= params[:controller] %> </h3>
      <%= yield %>
      <h3>Rodapé</h3>
    </div>
    <script>
      $.notify("Rodou", "success");
    </script>

  </body>
</html>
