<div class="jumbotron">
  <h3><%= msg_jumbotron %></h3>
</div>

<div class="align-drop" >
  <button class= "btn btn-default" style="list-style: none;">
  <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filtrar por  <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li>  <%= link_to "Ordem alfabetica", site_alphabetical_path %> </li>
        <li role="separator" class="divider"></li>
        <li>  <%= link_to "Última questão cadastrada", site_welcome_index_path %> </li>
      </ul>
    </li>
  </button>
</div>

<% @questions.each do |question| %>
  <%= form_with url: site_answer_path do |form|  %>
  <div class="panel panel-default" id="panel_<%= question.id%>"  >

    <div class="panel-heading">
      <h3 class="panel-title">
        <span class="label label-info" style="margin-right:10px;">
          <%= %>
          <%= link_to "#{question.subject.description} (#{question.subject.questions_count})", site_search_subject_path(question.subject_id, question.subject.description), style:"color: white;"  %>
        </span>
        <%= sanitize question.description %>
      </h3>
    </div>
    <div class="panel-body">
      <ul>
        <% question.answers.each do |answer| %>
          <li style ="list-style:none;">
           <div class="radio">
            <label>
              <%= radio_button_tag 'answer_id', answer.id %>
              <%= answer.description %>
            </label>
          </div>
          </li>
        <% end %>
        <li style ="list-style:none;">
          <%= form.submit t('button.answer'), class:"btn btn-default", id:"submit_#{question.id}"%>
        </li>
        <p id="result_<%= question.id%>"></p>
      </ul>
    </div>
  </div>
  <% end %>
<% end %>


<% if user_signed_in? %>
  <div class="text-center">
    <%= paginate @questions %>
  </div>
<% else %>
  <div class="alert alert-warning" role="alert">
    Efetue login para poder navegar em todas as perguntas...
  </div>
<% end %>
