<div class="bg-light p-5 rounded-lg m-3">
  <h1 class="display-4"> <%= t('jumbotron.welcome')%> </h1>
 <p class="lead"> <%= t('jumbotron.msg')%> </p>
  <hr class="my-4">
  <p> <%= t('jumbotron.menu')%> </p>
  <%= render "menu" %>
</div>

<p>O idioma utilizado nessa aplicação é: <%= t('current_locale') %>  </p>

<p>
    Vocẽ esta no ambiente de <strong> <%= ambiente_rails%> </strong>
</p>

